/* preset rules */

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}



  body{
    font-family:sans-serif;
    margin: 0 auto;
    
  }

/* preset rules */



/* container rules */

  .container_header{
    width: 1200px;
    margin: 0 auto;
    position:relative;
    padding-top: 1rem;
}

.container_main{
   max-width: 1200px;
    margin: 0 auto;
    border: 1px dashed red;
    margin-top: 1rem;
 
}
/* container rules */





/* header */

header  p{
    padding-top: 0.1rem;
    color: grey;

}

.header_btn {
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    position:absolute;
    top: 5px;
    right: 2rem;
    font-size: 1rem;
    color:grey;
    padding-top: 0.5rem
}

.header_btn i{
    font-size: 1.5rem;
   
}

.header_btn span{
    padding: 0rem 0.5rem
   
}



.bi.bi-toggle-on{
    color:black;
}

/* header */


/* Main */

.card_deck{
    display:flex;
}


.card{
    width: 300px;
    border-radius: 1rem;
    box-shadow: 2px 4px 10px 7px rgb(211 177 177);
   

    h2{
        padding-top: 1rem;
        padding-left: 2rem
    }

    >p{
        padding-left: 2rem;
        padding-bottom: 1rem;
        color: grey;
    }

}

.paragraph{
  width: 290px;
  text-align:center;
  margin: 0 auto ;


  span{
    font-weight: 600;
    font-size: 3rem;
  }





  .span1{
    font-size: 1rem;
    color: grey;
    font-weight: 10;
  }

  p:first-child{
    margin-bottom: 1.5rem;
  }
  
  .span2{
    background-color:lightgrey;
    font-size: 0.8rem;
    font-weight:normal;
    border-radius: 0.5rem;
    padding: 5px 8px;
  }


}


.plan_btn{
    width: 85%;
    height: 50px;
    margin-top: 1.5rem;
    border-radius: 0.8rem;
    border-style:none;
    background-color: #6500ff;
    color:white;
    
}


.details{

    list-style:none;
    text-align:center;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 30px;
  

    .bi{
        font-size: 2rem;
    }

    li{
        display:flex;
        align-items:center;
        gap: 12px;
    }

   
    .text{
        font-size: 1rem;
    }
}

  