/* preset rules */

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}



  body{
    font-family:sans-serif;
    margin: 0 auto;
    
  }

/* preset rules */



/* container rules */

  .container_header{
    max-width: 1200px;
    min-width: 300px;
    margin: 0 auto;
    position:relative;
    padding-top: 1rem;
}

.container_main{
   max-width: 1200px;
    margin: 0 auto;
    border-left: 2px dashed red;
    border-right: 2px dashed red;
    margin-top: 1rem;
 
}
/* container rules */





/* header */

header  p{
    padding-top: 0.1rem;
    color: grey;

}

.header_btn {
    display:flex;
    flex-direction:row;
    align-items:center;
    position:relative;
    top: -70px;
    right: -1000px;
    font-size: 1rem;
    color:grey;
    padding-top: 0.5rem;
    
}

.header_btn i{
    font-size: 1.5rem;
   
}

.header_btn span{
    padding: 0rem 0.5rem
   
}



.bi.bi-toggle-on{
    color:black;
}


.btnspan{
    font-size:1rem;
}

/* header */




/* Main */  /* card layout */

.card_deck{
    display:flex;
    flex-wrap:wrap;
    gap: 20px;
}



.card{
    min-width: 300px;
    border-radius: 1rem;
    box-shadow: 2px 4px 10px 7px rgb(211 177 177);
    flex-shrink:0;
    flex-grow:1;
    flex-basis:calc(100% / 3 - (20px * 2) / 3);
    
   

    h2{
        padding-top: 1rem;
        padding-left: 2rem
    }


}


.titlep{
    padding-left: 2rem;
    padding-bottom: 1rem;
    color: grey;
}


.paragraph{
  width: 290px;
  text-align:center;
  margin: 0 auto ;

  
.span1{
    font-size: 1rem;
    color: grey;
    font-weight: 10;
  }


  


  p:first-child{
    margin-bottom: 1.5rem;
  }
  
  .span2{
    background-color:lightgrey;
    font-size: 0.8rem;
    font-weight:normal;
    border-radius: 0.5rem;
    padding: 5px 8px;
  }
}

span{
    font-weight: 600;
    font-size: 3rem;
  }



.plan_btn{
    width: 85%;
    height: 50px;
    margin-top: 1.5rem;
    border-radius: 0.8rem;
    border-style:none;
    background-color: #6500ff;
    color:white;
    cursor:pointer;
    font-weight: 800
    
}

.plan_btn:hover{
    width: 85%;
    height: 50px;
    margin-top: 1.5rem;
    border-radius: 0.8rem;
    border-style:none;
    background-color: #5e17c9;
    color:white;
    cursor:pointer;
    
}


/* Main */  /* card layout */



.details{

    list-style:none;
    text-align:center;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 30px;
  

    .bi{
        font-size: 2rem;
    }

    li{
        display:flex;
        align-items:center;
        gap: 12px;
    }

   
    .text{
        font-size: 1rem;
    }
}


/* Main */  /* card layout */

.active{
    background-color:white;
    color: #6500ff;
    border: 1px solid white;
}
  

.professional{
background-color:#6500ff
}


.white_text{
    color:white;
}

.black_text{
    color:black;
}


.span3{
    font-size:1rem;
}

/* alternative rules for "professional" card */